<%= form_for @character do |f| %>
  <%= f.label :character_name %>
  <%= f.text_field :name %>
  <!-- <input name="character[character_name]" -->
  <label>Actor Name</label>
  <%= f.text_field :actor_name %>
  
  <%= f.submit %>
<% end %>

<!-- <input type="text" name="character[name]"> -->