
<% if logged_in? %>
<h1>Hi <%= current_user.name %></h1>
<% else %>
<%= link_to "Login", login_path %>
<% end %>


<ul>
  <% @users.each do |user| %>
    <li><%= user.name %><%= user.id %></li>
  <% end %>
</ul>



<% if logged_in? %>
<%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure" } %>
<% else %>
<%= link_to "Login", login_path %>
<% end %>
